[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"

[packages]
flask = "*"
requests = "*"
python-decouple = "*"
gunicorn = "*"
pygithub = "*"

[requires]
python_version = "3.6"
