[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"
ipython = "*"
black = "==18.9b0"

[packages]
flask = "*"
requests = "*"
python-decouple = "*"
gunicorn = "*"
pygithub = "*"
elasticsearch = "<7.0.0,>=6.0.0"
python-dateutil = "*"
attrs = "*"
pandas = "*"
pytz = "*"
aioelasticsearch = "*"
typing = "*"
tld = "*"

[requires]
python_version = "3.6"
